{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
{{parent()}}
<main class='home'>

    <section class="header">
        {% for message in app.flashes('success_form') %}

            <twig:Flash
                type="success_form"
                message="{{message}}"
            />
        {% endfor %}
        {% for message in app.flashes('stripe_success') %}

            <twig:Flash
                type="success_form"
                message="{{message}}"
            />
        {% endfor %}
        
        <twig:HeaderHero
            title="Ensemble pour la famille, à chaque étape de la vie"
            para1="L'association 100% Famille se dédie à la valorisation et au soutien de  la vie familiale à travers une multitude de services et d'activités  variées, touchant aussi bien les aspects sociaux, récréatifs que  culturels."
            cta="En savoir plus"
            ctalink="{{path('app_about')}}"
            img="{{asset('/images/logo/feader.jpg')}}"
        />
    </section>


    <section class='events'>

        <div class="events__header">
            <h2>Les événements</h2>
            <a href="{{path('app_evenements')}}" class="events__all">Tous les événements</a>
        </div>
        
        {# {% for event in events %} #}
        <div class='events__container'>

            {% if events|length > 0 %}
                {% for event in events %}
                        
                    <twig:EventCard 
                        event="{{event}}"
                    />
                {% endfor %}
            {% else %}
                <p>Il n'y a pas d'evenements programmés cette semaines</p>
            {% endif %}


        </div>


        {# {% endfor %} #}
    </section>



    <section class="service">
        <h2>Les Services</h2>
        <div class="service__container">
            <twig:ServiceCard 
                titre="ESPACE DE VIE SOCIALE"
                :items="[
                    'Groupe de parole',
                    'Fière d’être parent',
                    'Séminaire',
                    'Escapades familiales',
                    'Théâtre Forum',
                    'Atelier couture',
                    'Cours de soutien, activités pour les enfants (CLAS)',
                    'Festikid',
                    'Transport solidaire'
                ]"
                img="{{asset('images/static/service-eps.jpg')}}"
            />
             
            <twig:ServiceCard 
                titre="TIERS-LIEU"
                :items="[
                        'Défilé de mode',
                        'Jardin partagé',
                        'Coworking',
                        'Atelier informatique',
                        'Permanence (aide administrative & service secrétariat)',
                        'Epicerie solidaire',
                        'Friperie',
                        'Formation'
                    ]"
                    img="{{asset('images/static/service-tl.jpg')}}"
            />
            <twig:ServiceCard 
                titre="PS JEUNES"
                :items="[
                    'Exposition',
                    'Atelier éco-Mode',
                    'Atelier rédaction de cv et lettre de motivation',
                    'Soirées à thème',
                    'Voyage, excursion'
                ]"
                img="{{asset('images/static/service-psj.jpg')}}"
            />
            <twig:ServiceCard 
                titre="SANTE"
                :items="[
                    'Accompagnement pour les personnes en situation de handicap PMR',
                    'Atelier mémoire baignade',
                    'Accompagnement préventif par les jeux',
                    'Fit-Dance',
                    'Atelier musculation',
                    'Activités sportives'
                ]"
                img="{{asset('images/static/service-sante.jpg')}}"
            />

        </div>
    </section>


</main>
{% endblock %}
