{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Réinitialisation de Mot de Passe{% endblock %}

{% block body %}
{{ parent() }}
<main class="login">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation votre Mot de Passe</h1>

    {{ form_start(requestForm) }}
        <p>
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </p>
        {{ form_row(requestForm.email) }}

        <button class="btn--success">Envoyer l'e-mail</button>
    {{ form_end(requestForm) }}
</main>
{% endblock %}
