<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="{% block keyWord %}{% endblock %}">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        <meta name="geo.region" content="GP" />
        <meta name="geo.placename" content="Guadeloupe" />
        <meta name="geo.position" content="16.265;-61.551" />
        <meta name="ICBM" content="16.265, -61.551" />

        <meta name="ahrefs-site-verification" content="aa751aae3c41e616c24d24be20f9d96c8b561d0c243540f6ff88e5d5a1ada26f">
        <title>{% block title %}Association 100% Famille | {% endblock %}</title>
        <link rel="icon" href="{{asset('/images/favicon/favicon.ico')}}" type="image/x-icon">
        {% block stylesheets %}
             {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script src="https://analytics.ahrefs.com/analytics.js" data-key="WxhYiC1GD+j1qOf1g6kYBg" async></script>
    </head>
    <body>
        <header>
            <twig:Navigation />
        </header>
        
        
        {% block body %}
            <div class="modal" {{stimulus_controller('modalmanager')|stimulus_target('modalmanager', 'modal')|stimulus_action('modalmanager','openModal','responsivnav:getModalEvent@window')|stimulus_action('modalmanager','showOnlyOnMobile','resize@window')}}>
                <div class="modal__container">
                    {{ ux_icon('iconamoon:close-bold',{'class':'close', 'data-action':'click->modalmanager#closeModal'}) }}
                    <div class="modal__logo">
                        
                        <a href="{{path('app_home')}}">
                            <img src="{{asset("/images/logo/logomark.webp")}}" alt="logo Association 100% famille">
                            <p>
                                Association 100% famille
                            </p>
                        </a>
                    </div>
                    <div class="modal__link">
                        <a class="{{ app.current_route == 'app_home' ? 'navLink active' : 'navLink' }}" href="{{path('app_home')}}">Accueil</a>
                        <a class="{{ app.current_route == 'app_about' ? 'navLink active' : 'navLink' }}" href="{{path('app_about')}}">À propos</a>
                        <a class="{{ app.current_route == 'app_evenements' ? 'navLink active' : 'navLink' }}" href="{{path('app_evenements')}}">Évènements</a>
                        <a class="{{ app.current_route == 'app_contact' ? 'navLink active' : 'navLink' }}" href="{{path('app_contact')}}">Contact</a>
                        
                    </div>
                    <div class="modal__footer">
                        <a class="btn--accent2" href="{{path('app_register')}}">J'adhère</a>
                    </div>
                </div>
            </div>
        {% endblock %}

        <twig:Footer />


    </body>
</html>
