

<div {{ attributes }} class="events__card">
    <!-- component html -->
    <div class="events__card__image">
        <img src="/images/upload/events/{{event.image}}" alt="Zumba Picnic Swap Event">
    </div>
    <div class="events__card__details">

        <h3>{{event.title}}</h3>
        <div class="events__info" {{stimulus_controller('wordbreak')}}>

            {# {% if event[type_evenement] == 'ponctuel' %}{% endif %} #}
            <p>{{event.startDate|date('d/m/Y')}}</p>
            <p>{{event.startHour|date('H:i')}} - {{event.endHour|date('H:i')}}</p>
            <p class='description' {{stimulus_target('wordbreak', 'description')}}>
                {{event.description}}
            </p>
        </div>
        <a class="btn--accent1" href="{{path('app_evenements_show',{'id': event.id, 'type':event.recurringRule is defined ? "recurring" : "ponctuel" })}}"> S'inscrire</a>
    </div>

    {# <pre>
        {{ dump(event) }}
    </pre> #}
</div>

