<nav {{attributes}}
    {{stimulus_controller('responsivnav')|stimulus_action('responsivnav','getRightNavForm','resize@window')}}
>
    <a class='logo__container' href="{{path('app_home')}}">

        <img class='logo' src="{{asset("/images/logo/logo.webp")}}" alt="logo de l'association 100% Famille">
        <img class='logo feader' src="{{asset("/images/logo/feader.jpg")}}" alt="logo de l'association 100% Famille">
        {# <span>Association</span> #}
    </a>

    <div class="navLink__container" {{stimulus_target('responsivnav', 'navDesktop')}}>
        <a class="{{ app.current_route == 'app_evenements' ? 'navLink active' : 'navLink' }}" href="{{path('app_evenements')}}">Evenements</a>
        <a class="{{ app.current_route == 'app_contact' ? 'navLink active' : 'navLink' }}" href="{{path('app_contact')}}">Contact</a>
        <a class="{{ app.current_route == 'app_about' ? 'navLink active' : 'navLink' }}" href="{{path('app_about')}}">A propos</a>
        {# <a href="" class='navLink'>Connexion</a> #}
        {% if  app.user %}

            <a class="navLink" href="{{path('app_admin_dashboard')}}">Espace {{ is_granted('ROLE_ADMIN') ? 'administrateur' : 'membre' }}</a>
            <a class="{{ app.current_route == 'app_login' ? 'navLink active' : 'navLink' }}" href="{{path('app_logout')}}">Deconnexion</a>

        {% else %}
            <a class="{{ app.current_route == 'app_login' ? 'navLink active' : 'navLink' }}" href="{{path('app_login')}}">Connexion</a>
        

            <a class="btn--accent2" href="{{path('app_register')}}" {{stimulus_target('responsivnav', 'navDesktop')}}>J'adhère</a>
            
        {% endif %}
    </div>
    {# {% if not app.user %}
        

        <a class="btn--accent2" href="{{path('app_register')}}" {{stimulus_target('responsivnav', 'navDesktop')}}>J'adhère</a>
        
    {% endif %} #}

    <div 
        class="navBurger" 
        {{stimulus_target('responsivnav', 'navMobile')| stimulus_action('responsivnav','getNavModal','click')}}
        >
        {{ ux_icon('mingcute:menu-fill',{'class':'nav__burger'})}} 

    </div>
</nav>




